.app-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.layout-container {
    display: flex;
    flex: 1;
}


.content {
    flex: 1;
    padding: 32px;
    overflow: hidden;
}