<mat-nav-list>
    <a mat-list-item routerLink="/patients" routerLinkActive="active-link">
        <mat-icon>groups</mat-icon>
        <span>Patients</span>
    </a>
    <a mat-list-item routerLink="/doctors" routerLinkActive="active-link">
        <mat-icon>medical_services</mat-icon>
        <span>Doctors</span>
    </a>
    <a mat-list-item routerLink="/departments" routerLinkActive="active-link">
        <mat-icon>apartment</mat-icon>
        <span>Departments</span>
    </a>
    <a mat-list-item routerLink="/appointments" routerLinkActive="active-link">
        <mat-icon>event</mat-icon>
        <span>Appointments</span>
    </a>

</mat-nav-list>