
<h1>Dashboard</h1>

<p>Welcome back!</p>

<div class="stats-grid">

    <mat-card class="stat-card">

        <mat-icon>groups</mat-icon>

        <h2>Patients</h2>

        <h1>1254</h1>

    </mat-card>

    <mat-card class="stat-card">

        <mat-icon>medical_services</mat-icon>

        <h2>Doctors</h2>

        <h1>24</h1>

    </mat-card>

    <mat-card class="stat-card">

        <mat-icon>apartment</mat-icon>

        <h2>Departments</h2>

        <h1>8</h1>

    </mat-card>

    <mat-card class="stat-card">

        <mat-icon>event</mat-icon>

        <h2>Appointments</h2>

        <h1>37</h1>

    </mat-card>

</div>