<mat-card-header>

  <mat-card-title>
    Patient Management
  </mat-card-title>

  <mat-card-subtitle>
    Total Patients : {{ totalRecords }}
  </mat-card-subtitle>

</mat-card-header>

<mat-card-content>

  <div class="toolbar">

    <mat-form-field appearance="outline">

      <mat-label>Search Patient</mat-label>

      <input
        matInput
        placeholder="Enter name or phone">

      <mat-icon matSuffix>
        search
      </mat-icon>

    </mat-form-field>

    <button
      mat-raised-button
      color="primary">

      <mat-icon>add</mat-icon>

      Add Patient

    </button>

  </div>

</mat-card-content>
<mat-card>

  <mat-card-title>Patients</mat-card-title>

  <table mat-table [dataSource]="patients" class="mat-elevation-z2">

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>First Name</th>
      <td mat-cell *matCellDef="let patient">
        {{patient.firstName}}
      </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Last Name</th>
      <td mat-cell *matCellDef="let patient">
        {{patient.lastName}}
      </td>
    </ng-container>

    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef>Gender</th>
      <td mat-cell *matCellDef="let patient">
        {{patient.gender}}
      </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Phone</th>
      <td mat-cell *matCellDef="let patient">
        {{patient.phoneNumber}}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>

      <td mat-cell *matCellDef="let patient">

        <button mat-icon-button color="primary">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button color="warn">
          <mat-icon>delete</mat-icon>
        </button>

      </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

</mat-card>